html, body, div {
    margin: 0;
    padding: 0;
}

#header {
    display: flex;
    height: 48px;
    align-items: center;
    box-sizing: border-box;
}

#header h1 {
    padding-left: 16px;
    display: flex;
    align-items: center;
}

canvas {
    position:absolute;
    left:0px;
    top:0px;
    width:100%;
    height:100%;
}

#stampCanvas {
    width: 200px;
    height: 200px;
    position: absolute;
    left:unset;
    top:unset;
    right: 0;
    background-color: rgba(100%, 100%, 100%, 50%);
    bottom: 0;
    border: 2px;
    border-style: solid;
}

#brushes {
    display: flex;
    flex-direction: column;
}

.brush {
    display: flex;
    flex-direction: column;
    padding: 16px;
}

#tools {
    position: absolute;
    left:0px;
    top:0px;
    width:100%;
    padding-left:200px;
    display: flex;
    flex-direction:row;
    background-color: #f5f5ff;
    overflow: auto;
    box-sizing: border-box;
}

.tool {
    padding:5px;
}

#panel {
    z-index: 100;
    position: fixed;
    left: 0px;
    width: 200px;
    height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    background-color: #f5f5ff;
}

#viewer {
    padding-left: 300px;
    position: absolute;
    border: 0px;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    box-sizing: border-box;
}

#card {
    overflow: hidden;
    background-color: #fafaff;
    padding-bottom: 6px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

a {
    position: relative;
    box-sizing: border-box;
}

#cover {
    padding-bottom: 56.25%;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
}

img {
    position: absolute;
    width: 100%;
    box-sizing: border-box;
}